* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #EFEFEF;
	font-family: 'Raleway', sans-serif;
	text-shadow: .1px .1px .1px ;

}

.card-body {
	color: black;
	font-family: 'Raleway', sans-serif;
	text-shadow: .1px .1px .1px ;

}

.row {
	color: black;
}


/* Start Contact */
#contact .title {
	font-size: 1.2rem;
}

#contact .overview {
	font-size: 1.3rem;
}

.custom-btn {
	border-radius: 2px;
	padding: 8px;
	font-size: 18px;
	width: 100px;
}

.custom-btn.custom-btn-primary {
	background-color: #d55c5a;
	border-color: #d55c5a;
}
/* End Contact */

.bg1 {
	height: 100%;
	background: url("../images/contact.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.custom-btn:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.form-row:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}











